.card {
  background: #cc8a8a;
  overflow-x: hidden;
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 20px;
}

@keyframes loop {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.canvas {
  width: 60%;
  height: 70vh;
}

.loopAnimation {
  animation: loop 4s linear infinite;
}
